<div class="jumbotron p-4">
  <h1 class="display-4">Welcome to Stock Watch</h1>
  <p class="lead">This is a NodeJS web application designed to give stock market data on any company, just input the stocker ticker symbol in the search bar above.</p>
  <hr class="my-4">
  <p>This application is made in NodeJS using express. Financial data is received from the IEXcloud financial API. Code available on Github</p>
  <p class="lead m-0">
    <a class="btn btn-secondary btn-lg mb-0 text-center w-25" href="https://github.com/m4gIcIaN/nodestockapp" role="button" target="_blank">Show me Github</a>
  </p>
</div>

<ul class="list-group text-center m-4">
  <li class="list-group-item">Check Prices</li>
  <li class="list-group-item">Check Other Important Numbers</li>
  <li class="list-group-item">Check Graphs</li>
  <li class="list-group-item">Check Financials</li>
  <li class="list-group-item">Check Ratios</li>
  <li class="list-group-item">Check Ownership</li>
</ul>

<div class="card text-center mb-2">
  <h5 class="card-header">Check out NodeJS</h5>
  <div class="card-body">
    <p class="card-text">Check out NodeJS.</p>
    <a href="https://nodejs.org/en/" class="btn btn-secondary w-25">Show me NodeJS</a>
  </div>
</div>

<div class="card text-center mb-2">
  <h5 class="card-header">Check out Express</h5>
  <div class="card-body">
    <p class="card-text">Check out the Express framework.</p>
    <a href="https://expressjs.com/" class="btn btn-secondary w-25">Show me Express</a>
  </div>
</div>

<div class="card text-center mb-2">
  <h5 class="card-header">Check out the API</h5>
  <div class="card-body">
    <p class="card-text">Check out the IEX financial API that this application uses.</p>
    <a href="https://iexcloud.io/" class="btn btn-secondary w-25">Show me IEX</a>
  </div>
</div>